 <section id="contact" class="content-section text-center" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!<br><br></p>
                    <ul
                        class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button" style="width: 174px;"><i class="fa fa-facebook-f fa-fw"></i><span class="network-name">&nbsp; facebook</span></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" (click)="openSomething()" type="button" style="width: 178px;"><i class="fa fa-instagram fa-fw"></i><span class="network-name">&nbsp;Instagram</span></button></li>
                        </ul>
                </div>
            </div>
        </div>
        <hr>
    </section>

