    <section id="team" class="content-section text-center" style="padding: 100px 0px;background-color: rgb(248, 248, 248);">
        <div class="container">
            <section class="card-section-imagia" style="padding-top: 0px;background-color: transparent;">
                <h1 style="color: #212529;">Our team</h1>
                <h2></h2>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-5 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                        <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center back-heading">Lorem Ipsum</h3>
                                                <p class="text-center back-paragraph">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                        <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center back-heading">Lorem Ipsum</h3>
                                                <p class="text-center back-paragraph">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                        <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center back-heading">Lorem Ipsum</h3>
                                                <p class="text-center back-paragraph">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia cover-gradient"></div>
                                        <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center back-heading">Lorem Ipsum</h3>
                                                <p class="text-center back-paragraph">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                        <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center back-heading">Lorem Ipsum</h3>
                                                <p class="text-center back-paragraph">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
