<div id='subscribe-css'>
<p class='subscribe-note'>SUBSCRIBE TO OUR NEWSLETTER</p>
<div class='subscribe-wrapper'>
<div class='subscribe-form'>
<form class='subscribe-form' method='post'>
<input name='uri' type='hidden' value='ArlinaDesign'/><input name='loc' type='hidden' value='en_US'/><input autocomplete='off' class='subscribe-css-email-field' name='email' placeholder='Enter your Email'/><input class='subscribe-css-email-button' title='' type='submit' value='Submit'/></form>
</div>
</div>
</div>
    <footer class="bg-warning">
        <div class="container text-center">
            <p>Copyright ©&nbsp;Ecosystem 2021</p>
        </div>
    </footer>
