          <div class="container-fluid adjustment">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Subscribers</h4>
                  <p class="card-category">Manage Subscribers</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Salary</th>
                      <th>Country</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>$36,738</td>
                        <td>Niger</td>
                          <td class="td-actions text-right">
                              <button type="button" (click)="promptModal()" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Edit Task">
                                <i class="material-icons">close</i>
                              <div class="ripple-container"></div></button>
                            </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Minerva Hooper</td>
                        <td>$23,789</td>
                        <td>Curaçao</td>
                              <td class="td-actions text-right">
                              <button type="button" (click)="promptModal()" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Edit Task">
                                <i class="material-icons">close</i>
                              <div class="ripple-container"></div></button>
                            </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Sage Rodriguez</td>
                        <td>$56,142</td>
                        <td>Netherlands</td>
                              <td class="td-actions text-right">
                              <button type="button" (click)="promptModal()" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Edit Task" >
                                <i class="material-icons">close</i>
                              <div class="ripple-container"></div></button>
                            </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Philip Chaney</td>
                        <td>$38,735</td>
                        <td>Korea, South</td>
                            <td class="td-actions text-right">
                              <button type="button" (click)="promptModal()" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Edit Task">
                                <i class="material-icons">close</i>
                              <div class="ripple-container"></div></button>
                            </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Subscribers</h4>
                  <p class="card-category">&nbsp;</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Add Subscribers</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>

