<header class="masthead" style="background-image:url('assets/img/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">TITLe</h1>
                        <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae pretium libero, ut ullamcorper elit. Praesent maximus mauris ex, at faucibus nisl eleifend sed. Praesent egestas faucibus rutrum. Mauris finibus, augue ut malesuada
                            sollicitudin, elit eros aliquam nunc, et dignissim velit mi et sem. Aenean efficitur, orci a posuere ali<br><br></p><a class="btn btn-link btn-circle" role="button" href="#history"><i class="fa fa-angle-double-down animated"></i></a></div>
                </div>
            </div>
        </div>
    </header>
