    <section id="articles" class="content-section text-center" style="padding: 100px 0px;background-color: #ffffff;">
        <div class="container"><div class="blog-home3 py-5">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h3 class="my-3 section-heading">Articles</h3>
        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-lg-6">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img4.jpg" alt="wrappixel kit"></a>
          <div class="date-pos text-center text-white p-3 bg-warning">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">Techonologies started to change Drastically</a></h5>
          <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-6">
        <div class="row">
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img5.jpg" alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-warning">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Newest Food Recipe</a></h6>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img6.jpg" alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-warning">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Newest Food Recipe</a></h6>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img7.jpg" alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-warning">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Newest Food Recipe</a></h6>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img8.jpg" alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-warning">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Newest Food Recipe</a></h6>
            </div>
          </div>
          <!-- Column -->
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div></div>
        <div class="row" style="margin: 0px 25.5px;padding-right: 15px;padding-left: 15px;">
            <div class="col text-right" style="padding: 0px;"><a class="text-uppercase text-right" routerLink="articles">See more&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;</a></div>
        </div>


      </section>
