<section class="blog-list px-3 py-5 p-md-5">
  <div class="container">
    <div class="item mb-5" *ngFor="let article of blogContent | paginate: {itemsPerPage: 6, currentPage: pageNum}" >
      <div class="media">
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" [src]="article.imgHead" alt="image">
        <div class="media-body">
          <h3 class="title mb-1" ><a href="blog-post.html" class="postheading" >{{article.title}}</a></h3>
          <div class="meta mb-1 sub-heading"><span class="date">{{article.date}}</span></div>
          <div class="intro">{{article.intro}}</div>
          <a class="more-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Read more &rarr;</a>
        </div><!--//media-body-->
      </div><!--//media-->
    </div><!--//item-->

    <pagination-controls class="pagination" (pageChange)="pageNum = $event"></pagination-controls>

  </div>
</section>
