<section id="merchandise" class="content-section text-center" style="padding: 100px 0px;background-color: #f1f1f1;">
<div class="container">
  <div class="intro">
    <h2 class="text-center" style="font-size: 40px; color: black ;">Merchandise </h2>
    <p class="text-center" style="color:#6c757d">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
</div>

<div class="row projects justify-content-center">
  <div class="col-md-4">
    <div class="card mb-4">
      <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title" style="color:black">Card title</h5>
          <p class="card-text"  style="color:black; ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="http://www.jquery2dotnet.com/"  style="color:black" class="btn btn-outline-dark btn-sm">Go somewhere</a>
      </div>
    </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" style="color:black">Card title</h5>
        <p class="card-text" style="color:black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="http://www.jquery2dotnet.com/" style="color:black" class="btn btn-outline-dark btn-sm">Go somewhere</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" style="color:black">Card title</h5>
        <p class="card-text" style="color:black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="http://www.jquery2dotnet.com/" style="color:black" class="btn btn-outline-dark btn-sm">Go somewhere</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" style="color:black">Card title</h5>
        <p class="card-text" style="color:black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="http://www.jquery2dotnet.com/" style="color:black" class="btn btn-outline-dark btn-sm">Go somewhere</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" style="color:black">Card title</h5>
        <p class="card-text" style="color:black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="http://www.jquery2dotnet.com/" style="color:black" class="btn btn-outline-dark btn-sm">Go somewhere</a>
    </div>
  </div>
</div>
</div>

</div>




</section>
